$icomoon-font-family: "gis-icon" !default;
$icomoon-font-path: "fonts" !default;

$gis-icon--pencil-on-square: "\e92d";
$gis-icon--trash: "\e92c";
$gis-icon--line: "\e926";
$gis-icon--gear-wheels: "\e927";
$gis-icon--text-box: "\e928";
$gis-icon--circle-dots: "\e929";
$gis-icon--arrow-left: "\e92a";
$gis-icon--eye: "\e92b";
$gis-icon--circle-arrows: "\e923";
$gis-icon--artist-palette: "\e924";
$gis-icon--dashed-square-arrow: "\e925";
$gis-icon--camera: "\e920";
$gis-icon--table: "\e921";
$gis-icon--world-arrow: "\e922";
$gis-icon--minus: "\e902";
$gis-icon--plus: "\e903";
$gis-icon--eraser: "\e904";
$gis-icon--eye-plus: "\e905";
$gis-icon--cube: "\e906";
$gis-icon--ruler-l: "\e907";
$gis-icon--distance: "\e908";
$gis-icon--radar: "\e909";
$gis-icon--flag: "\e90a";
$gis-icon--paperclip: "\e90b";
$gis-icon--street-signs: "\e90c";
$gis-icon--chart-search: "\e90d";
$gis-icon--lines-dots: "\e90e";
$gis-icon--map-rolled: "\e90f";
$gis-icon--disk: "\e910";
$gis-icon--emergency-lights: "\e911";
$gis-icon--printer: "\e912";
$gis-icon--drag-thin: "\e913";
$gis-icon--layers: "\e901";
$gis-icon--layers-remove-thin: "\e914";
$gis-icon--search-eye-thin: "\e915";
$gis-icon--graphic-pen-thin: "\e916";
$gis-icon--grid-thin: "\e917";
$gis-icon--location: "\e91a";
$gis-icon--picture: "\e918";
$gis-icon--location-on-pic: "\e919";
$gis-icon--location-on-map: "\e91d";
$gis-icon--opacity-circles: "\e91b";
$gis-icon--search: "\e91c";
$gis-icon--eraser-thin: "\e91e";
$gis-icon--legend-thin: "\e900";
$gis-icon--legend: "\e91f";

