.main-nav {
    position: absolute;
    top: 0;
    right: 0;
    width: $min-side-width;
    background: $primary;
    color: #fff;
    height: 100%;
    overflow: hidden;
    transition: all 0.35s ease-out;

    .list-group {
        height: 100%;
        width: $min-side-width;

        .tool-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: $primary;
            border-color: rgba(#fff, 0.15);
            padding-right: 0.5rem;
            padding-left: 0.5rem;

            // svg,
            // img {
            //     height: 24px;
            // }

            &__title {
                transition: all 0.35s ease-out;
            }

            .tool-item__icon {
                width: 1.6rem;
                margin-left: 0.2rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            i {
                display: block;
                font-size: 1.6rem;
                margin-top: -0.3rem;
                margin-bottom: -0.3rem;
            }
        }
    }

    &--closed {
        width: 2.6rem;
        transition: all 0.25s ease-in;

        .tool-item__title {
            opacity: 0;
            transition: all 0.25s ease-in;
        }
    }
}
