$blue-100: #07205d;
$blue-200: #334e67;

//
// bootstrap override
// ====================
$gray-400: #d9d9d9;
$gray-600: #767676;
$primary: $blue-100;

$font-family-sans-serif: "Assistant", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji" !default;

$headings-font-weight: 600;

$body-color: $gray-600;

$list-group-item-padding-x: 0.75rem;
$list-group-item-padding-y: 0.5rem;

//
// app variables
// ====================
$min-side-width: 350px;
$side-width-closed: 2.6rem;

$tool-padding: 0.5rem;

@import "icons/variables";
