$blue-100: #07205D;
$blue-200: #334E67;

//
// bootstrap override
// ====================
$primary: $blue-100;
$list-group-item-padding-x:         0.75rem;

//
// app variables
// ====================
$min-side-width: 350px;

@import "icons/variables";


